.commitCard {
    background-color: #191d21;
    border: 1px solid #414141;
    border-radius: 10px;
    padding: 10px;
    margin: 6px 0;
    text-align: left;
    word-wrap: break-word;
  }
  .commitCard:hover {
    border: 1px solid #96ffea;
  }
  
  .commentCard {
    background-color: #191d21;
    border: 1px solid #414141;
    border-radius: 10px;
    padding: 10px;
    margin: 6px 0;
    text-align: left;
    word-wrap: break-word;
  }
  .commentCard:hover {
    border: 1px solid #96ffea;
  }
  
  .author {
    color: #db3b8b;
  }
  
  .link {
    display: block;
    margin-top: 5px;
    color: #0b76e0;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  