/* .keyword {
  border: 1px solid #ebefee;
  border-radius: 5px;
}
.keyword:hover {
  border: 1px solid #96ffea;
  border-radius: 5px;
} */


/* .repoInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
} */
  
/* .repoInputContainer input {
    width: 41%;  
}
  
.repoSlash {
    color: #656565;
    font-size: 1.2rem;
} */