html, body {
    width: 600px;  /* 크롬 확장 프로그램 팝업 너비 최대는 800 */
    min-height: 300px; 
    height: auto; 
    max-height: 600px;  /* 크롬 확장 프로그램 팝업 높이 최대는 600 */
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #0E1116; 
    color: #F6F8FA;
    overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #92fff0; /*민트#92fff0*/
    /* border-bottom: 1px solid #8d8d8d;  */
    /* #96ffea */
    background-color: transparent;
    color: #dfdede;
    font-size: 1rem;
}
input:hover {
  border: 1px solid #f2f7f5;
}

button {
    width: 94%;
    padding: 10px;
    /* background-color: #333433; 파랑 #3D6AAC 초록 04cba4 */
    color: #0d1117;
    border: none;
    border-radius: 5px;
    border: 1px solid #13305c;
    background-color: #00ffd0;
    color: #191919;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    box-sizing: border-box;
    margin-bottom: 15px;
}
button:hover {
    background-color: #029378;
}
